<div class="errors">
  <% if @errors %>
    <ul style="color: red;">
      <% @errors.each do |key, messages| %>
        <% messages.each do |message| %>
          <li><%= key.to_s.capitalize %> - <%= message %></li>
        <% end %>
      <% end%>
    </ul>
  <% end %>
</div>

<%= form_for @recipe do |f| %>
  <div class="field">
    <label for="recipe_name">Name</label>
    <input type="text" name="recipe[name]" id="recipe_name" value="<%= @recipe.name %>">
  </div>
  <div class="field">
    <label for="recipe_servings">Servings</label>
    <input type="number" name="recipe[servings]" id="recipe_servings" value="<%= @recipe.servings %>">
  </div>
  <div class="field">
    <label for="recipe_instructions">Instructions</label>
    <input type="text" name="recipe[instructions]" id="recipe_instructions" value="<%= @recipe.instructions %>">
  </div>
  <div class="field">
    <label for="recipe_instructions">Course</label>
    <select name="recipe[course_id]">
      <% @courses_categories.each do |course| %>
        <option value="<%= course[1] %>" <%= 'selected' if @recipe.course_id == course[1] %>><%= course[0] %></option>
      <% end %>
    </select>
  </div>
  <div class="field">
    <label for="recipe_ingredients">ingredient</label>
    <input type="text" name="recipe[ingredients][]" id="recipe_ingredients" value="<%= @recipe.ingredients[0].name if !@recipe.ingredients[0].nil?%>">
  </div>
  <div class="field">
    <label for="recipe_ingredients">ingredient</label>
    <input type="text" name="recipe[ingredients][]" id="recipe_ingredients" value="<%= @recipe.ingredients[1].name if !@recipe.ingredients[1].nil?%>">
  </div>
  <div class="field">
    <label for="recipe_ingredients">ingredient</label>
    <input type="text" name="recipe[ingredients][]" id="recipe_ingredients" value="<%= @recipe.ingredients[2].name if !@recipe.ingredients[2].nil?%>">
  </div>
  <div class="actions">
    <button type="submit"><%= button_message %></button>
  </div>
<% end %>